body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.btn {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 2.5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.yellow {
  background-color: #f99b45;
}

.red {
  background-color: #d95980;
}

.purple {
  background-color: #9ff9;
}

.green {
  background-color: #63aac0;
}

.flash {
  background-color: white;
}

.userflash {
  background-color: green;
}

#startButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#startButton:hover {
  background-color: #388e3c;
}
